<h1>Desarrolladores Registrados</h1>
<a routerLink="agregar" class="btn btn-sm btn-success mb-2">Agregar</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Nickname</th>
            <th style="width: 30%">Nombre</th>
        </tr>
    </thead>
    <tbody>
        <!-- Imprime los registro traidos y guardados en el arreglo -->
        <tr *ngFor="let desarrollador of desarrolladores()">
            <td>{{desarrollador.nickname}}</td>
            <td>{{desarrollador.nombres}} {{desarrollador.apellidos}}</td>
            <td style="white-space: nowrap">
                <a routerLink="agregar/{{desarrollador.id_desarrollador}}" class="btn btn-sm btn-primary mr-1">Editar</a>
                <button class="btn btn-sm btn-danger btn-delete-user" (click)="eliminarDesarrollador(desarrollador.id_desarrollador)">
                    <span>Eliminar</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!desarrolladores">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>